#u321
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u88
{
	border-style: solid;
	border-color: #EEEEEE;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u88_align_to_page
{
	position: relative;
}

#u302
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	background-size: contain;
}

#u302:hover
{
	background: transparent url("../images/portfolio-signature-1a-y.png") no-repeat center center;
	background-size: contain;
}

.signature
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/portfolio-signature-1a.png") no-repeat center center;
	background-size: contain;
}

#u184-4
{
	background-color: transparent;
	color: #222222;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u113-4
{
	background-color: transparent;
	color: #222222;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u115-4
{
	background-color: transparent;
	color: #222222;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u184-4:hover p,#u113-4:hover p,#u115-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

#u290
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	background-size: contain;
}

#u290:hover
{
	background: transparent url("../images/glyph-logo_may2016_y.png") no-repeat center center;
	background-size: contain;
}

.instagram
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/glyph-logo_may2016_gr.png") no-repeat center center;
	background-size: contain;
}

