/*

*/

.version.projects /* version checker */
{
	color: #0000F3;
	background-color: #EC9A65;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 680px;
	width: 0.01px;
}

#u88
{
	z-index: 2;
	min-height: 85px;
	padding-bottom: 34px;
}

#u88_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u181
{
	z-index: 11;
	width: 190px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 100px;
}

#u184-4
{
	z-index: 13;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 960px;
}

#u113-4
{
	z-index: 3;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1060px;
}

#u115-4
{
	z-index: 7;
	width: 80px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1160px;
}

#u184-4:hover,#u113-4:hover,#u115-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 80px;
	margin: 53px -10000px 0px 0px;
}

#u193
{
	z-index: 17;
	width: 24px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 1276px;
}

#u88-bw
{
	z-index: 2;
	min-height: 85px;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

